<div class="card shadow-sm">
    <div class="card-body">
        <div class="text-center">
            <h5 class="card-title">
                {{ name }}
            </h5>
            <div class="btn btn-lg btn-social-icon btn-{{key}}">
                <span class="fa fa-{{key}}"></span>
            </div>
        </div>
        <p class="card-text text-truncate">
            {{ description }}
        </p>
        <div class="d-grid gap-2">
            <a class="btn btn-primary stretched-link" href="/auth/form/{{key}}">
                Get your {{name}} access tokens
            </a>
        </div>
    </div>
</div>